<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="assets/styles/application.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="js-is-page">
<div class="site-container hello">
	<header>
		<div class="menu-button">
			<div class="menu-button__container">
				<div class="bar bar--top"></div>
				<div class="bar bar--middle"></div>
				<div class="bar bar--bottom"></div>
				<div class="bar arrow--top"></div>
				<div class="bar arrow--middle"></div>
				<div class="bar arrow--bottom"></div>
			</div>
			<div class="menu-button__label">
				<span class="menu">menu</span>
				<span class="close">close</span>
				<span class="open">open</span>
			</div>
		  </div>
		<nav>
			<ul>
				<li class="active js-page-link" data-href="hello.html">Hello</li>
				<li class="js-page-link" data-href="work.html">Work</li>
				<li class="js-page-link" data-href="clients.html">Clients</li>
				<li class="js-page-link" data-href="life.html">Life</li>
				<li class="js-page-link" data-href="blog.html">Blog</li>
			</ul>
		</nav>
	</header>
	<main>
		<section class="preview-pane preview-pane--hello">
			<div class="overlay"></div>
			<div class="loader"></div>
			<div class="content">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="blur-filter">
					<defs>
						<filter id="blur">
							<feGaussianBlur in="SourceGraphic" stdDeviation="10" />
						</filter>
					</defs>
				</svg>
				<svg class="bg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%"
					 height="100%" viewBox="0 0 1160 1740.3" enable-background="new 0 0 1160 1740.3"  xml:space="preserve">

					<linearGradient perserveAspectRatio="xMaxYmax meet" id="gradient-anim" gradientUnits="userSpaceOnUse" x1="50%" y1="50%" x2="50%" y2="100%">
						<stop  offset="0%" stop-color="#1b2733">
							 <animate attributeName="stop-color" values="#1b2733; #434a5a; #72616a; #dba890; #72616a; #434a5a; #1b2733;" dur="25s" repeatCount="indefinite" />
						</stop>
						<stop  offset="1" stop-color="#434a5a">
							 <animate attributeName="stop-color" values="#434a5a; #1b2733; #dba890; #72616a; #dba890; #1b2733; #434a5a;" dur="25s" repeatCount="indefinite" />
						</stop>
						
					</linearGradient>
					<rect x="0" y="-238.9" fill="urL(#gradient-anim)" width="1157.8" height="1977.3"/>
					<image overflow="visible" width="1160" height="773" xlink:href="assets/visual/svgs/min/mountains.svg"  transform="matrix(0.9871 0 0 0.9981 0 1016.8112)"></image>
				</svg>
				<div class="star --small"></div>
				<div class="star --medium"></div>
				<div class="star --large"></div>
				<h1 class="headline">
					<span>Digital</span>
					Creative
				</h1>
				<!-- <svg class="headline" xmlns="http://www.w3.org/2000/svg">
					<defs>
						<linearGradient id="gradient-light" x1="0%" y1="0%" x2="0%" y2="100%">
							<stop offset="0%" style="stop-color:#ffffff;stop-opacity:1" />
							<stop offset="100%" style="stop-color:#dcdcdc;stop-opacity:1" />
						</linearGradient>
					</defs>
					<text y="1.2em">digital</text>
					<text y="1.6em">creative</text>
				</svg> -->
			</div>
		</section>
		<section class="grid">
			<div class="container">
			</div>
		</section>
	</main>
</div>
<script type="text/template" id="grid-template">
	<% 
	if(gridItems) { 
		_.each(gridItems, function(item) {
			var classes, imagePath, styles;

			if (item.image) {
				classes = 'js-background-image';
			} 
			if (item.color) { %>
				<div class="grid__item <%= classes %>" style="background-color: <%= item.color %>;">
			<% } else { %>
				<div class="grid__item <%= classes %>">
			<% } 
				if (item.image) {
					_.each(item.image, function(img) { %>
						<img src="<%= img.path %>" alt="">
					<% }) 
					
				} %>
				<span></span>
			</div>
		<% }) %>
	<% } %>
</script>
<script src="assets/scripts/dist/vendor.js"></script>
<script src="assets/scripts/dist/app.js"></script>
</body>
</html>