<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="assets/styles/application.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="js-is-page">
<div class="site-container hello">
	<header>
		<div class="menu-button">
			<div class="menu-button__container">
				<div class="bar bar--top"></div>
				<div class="bar bar--middle"></div>
				<div class="bar bar--bottom"></div>
				<div class="bar arrow--top"></div>
				<div class="bar arrow--middle"></div>
				<div class="bar arrow--bottom"></div>
			</div>
			<div class="menu-button__label">
				<span class="menu">menu</span>
				<span class="close">close</span>
				<span class="open">open</span>
			</div>
		  </div>
		<nav>
			<ul>
				<li class="active js-page-link" data-href="hello.html">Hello</li>
				<li class="js-page-link" data-href="work.html">Work</li>
				<li class="js-page-link" data-href="clients.html">Clients</li>
				<li class="js-page-link" data-href="life.html">Life</li>
				<li class="js-page-link" data-href="blog.html">Blog</li>
			</ul>
		</nav>
	</header>
	<main>
		<section class="preview-pane preview-pane--hello">
			<div class="overlay"></div>
			<div class="loader"></div>
			<div class="content">
			</div>
		</section>
		<section class="grid">
			<div class="container">
			</div>
		</section>
	</main>
</div>
<script type="text/template" id="grid-template">
	<% 
	if(gridItems) { 
		_.each(gridItems, function(item) {
			var classes, imagePath, styles;

			if (item.image) {
				classes = 'js-background-image';
			} 
			if (item.color) { %>
				<div class="grid__item <%= classes %>" style="background-color: <%= item.color %>;">
			<% } else { %>
				<div class="grid__item <%= classes %>">
			<% } 
				if (item.image) {
					_.each(item.image, function(img) { %>
						<img src="<%= img.path %>" alt="">
					<% }) 
					
				} %>
				<span></span>
			</div>
		<% }) %>
	<% } %>
</script>
<script src="assets/scripts/dist/vendor.js"></script>
<script src="assets/scripts/dist/app.js"></script>
</body>
</html>