.grid
	background: map-get($theme-colors, abyss) url(../visual/svgs/min/logo.svg) center center no-repeat
	background-size: 30%
	flex-grow: 1.5
	max-height: 100vh
	.container
		height: 100%
		max-height: 100vh
		display: flex
		flex-wrap: wrap
		flex: 1
		flex-direction: column
	&__item
		transition: all .35s map-get($transition, easeOutCirc)
		flex-basis: 33.33vh
		width: 33.33%
		box-shadow: none
		font-family: 'Aller'
		text-align: center
		line-height: 19.33vh
		font-size: 10vh
		display: flex
		align-items: center
		justify-content: center
		position: relative
		opacity: 0
		transform: scale(.4)
		background:
			size: 50%, cover
			repeat: no-repeat
			position: center
			
		&:hover
			cursor: pointer
			//intial scale done with inline styles via js
			// so we have to !important this
			transform: scale(1.2) !important
			z-index: 99
			+shadow(5)
		span
			display: block
			height: 20vh
			width: 20vh
			overflow: hidden
			&:after
				width: 100%;
				height: 100%
				overflow: visible
				
		&:nth-child(1)
			color: #25d4ff
			background-size: cover
			span
				background: linear-gradient(#2e2e4d, #171732)
				border-radius: 50%
				&:after 
					content: 'Ps'
					+long-shadow(text, rgba(0,0,0,.05), 280, false, true, right)
		&:nth-child(2)
			color: #fff
			background: #e65100 
			span
				&:after 
					font-family: map-get($typography, headline)
					font-weight: 900
					content: 'UI'
		&:nth-child(3)
			color: #fff
			background:
				size: 50%, cover // turns out you can do this with multiple background images, who woulda thought?
		&:nth-child(4)
			color: #ff7919
			background-size: cover
			span
				background: linear-gradient(#3b2e22, #20100a)
				border-radius: 50%
				&:after 
					content: 'Ai'
					+long-shadow(text, rgba(0,0,0,.05), 280, false, true, right)
		&:nth-child(5)
			color: #fff
			background: #3b2b4a
			span
				&:after 
					font-family: map-get($typography, headline)
					font-weight: 900
					content: 'UX'
		&:nth-child(6)
			color: #fff
			background-size: 40%, cover
		&:nth-child(7)
			color: #d9b2ff
			background-size: cover
			span
				background: linear-gradient(#402f51, #1a1025)
				border-radius: 50%
				&:after 
					content: 'Ae'
					+long-shadow(text, rgba(0,0,0,.05), 280, false, true, right)
		&:nth-child(8)
			color: #fff
			background: #334e5b
			span
				width: 100%
				&:after 
					font-family: map-get($typography, headline)
					font-weight: 900
					content: 'DEV'
		&:nth-child(9)
			color: #fff
			background-size: 40%, cover

