.preview-pane
	display: flex
	align-items: center
	justify-content: center
	position: relative
	overflow: hidden
	+shadow(5)
	position: relative
	z-index: 1
	background: map-get($theme-colors, abyss)
	.blur-filter
		width: 0
		height: 0
	.overlay 
		position: absolute
		top: 100vh
		left: 0
		height: 100vh
		width: 100%
		background: white
		z-index: 9999
	&--hello

		.bg 
			transition: all .1s
			position: absolute
			filter: url(../../index.html#blur)
			bottom: -13vh
			left: -110vh
			width: 300vh
			height: 150vh
			z-index: 0
			.js-is-page &
				filter: none
		@supports (filter: url(../../index.html#blur))
			.bg 
				filter: url(../../index.html#blur)

		.headline
			overflow: visible
			transition: opacity .5s
			padding:
				top: 5%
			letter-spacing: rem(4px)
			position: relative
			color: white
			
			text-transform: uppercase
			font:
				size: map-get($typography, size-jumbo)
				family: map-get($typography, headline)
				weight: 900
			letter-spacing: rem(2px)
			z-index: 1
			opacity: 0
			span 
				display: block
				font:
					size: map-get($typography, size-med)
					weight: 300
			.js-is-page &
				opacity: 1
