.preview-pane
	display: flex
	align-items: center
	justify-content: center
	position: relative
	overflow: hidden
	+shadow(5)
	position: relative
	z-index: 1
	.blur-filter
		width: 0
		height: 0
	.overlay 
		position: absolute
		top: 100vh
		left: 0
		height: 100vh
		width: 100%
		background: white
		z-index: 9999

	&--hello
		.bg 
			transition: all .1s
			filter: url(../../index.html#blur)
			position: absolute
			bottom: -13vh
			left: -110vh
			width: 300vh
			height: 150vh
			z-index: 0
			.js-is-page &
				filter: none


		.headline
			overflow: visible
			transition: opacity .5s
			padding:
				right: 20%
				top: 5%
			letter-spacing: rem(4px)
			position: relative
			font:
				size: map-get($typography, size-med)
				family: map-get($typography, headline)
				weight: 300
			text-transform: uppercase
			fill: url(#gradient-light)
			text:nth-child(3)
				font:
					size: map-get($typography, size-jumbo)
					weight: 900
				letter-spacing: rem(2px)
				z-index: 1
			opacity: 0
			.js-is-page &
				opacity: 1
